<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.registerservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.loginservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>personalInfoServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.personalInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyPersonalInfoServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.modifyPersonalInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewAndModifyPIServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.viewAndModifyPIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyPWDServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.modifyPWDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listAdminsServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listAdminsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auditListDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.auditListDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAdminServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.deleteAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.listMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>revokeMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.revokeMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.addMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>do_importServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.do_importServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exportMappingsServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.exportMappingsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewAndModifyCertServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.viewAndModifyCertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyCertServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.modifyCertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.adminDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listUnPassAdminsServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listUnPassAdminsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminPassServlet</servlet-name>
    <servlet-class>adminPassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminCheckServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.adminCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addAttServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.addAttServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>attFindServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.attFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyAttServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.ModifyAttServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewAndModifyAttServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.viewAndModifyAttServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAttServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAttServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.viewMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewAndModifyMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.viewAndModifyMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.ModifyMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exportListMappingServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.exportListMappingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadFileServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.upload.uploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifyFailFindServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.upload.verifyFailFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifySetTrustedServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.upload.verifySetTrustedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listUsersServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.userDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listWhiteServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.listWhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>revokeWhiteServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.revokeWhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>historyServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.historyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>historyDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.historyDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addWhiteServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.addWhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.deleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewUserServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.viewUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addAllWhitelistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.addAllWhitelistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selfAddWhiteServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.selfAddWhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAllWhitelistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAllWhitelistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAllHistorylistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAllHistorylistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAllPagesHistorylistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAllPagesHistorylistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adllAllPagesHistoryServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.adllAllPagesHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAllPagesWhitelistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAllPagesWhitelistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.userServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnterUserListServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.EnterUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifylogServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.verifylogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifyloghistoryServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.verifyloghistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listVerifylogServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listVerifylogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>verifyloghistorylistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.verifyloghistorylistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TCMServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.TCMServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listTCMServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listTCMServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listUsersServlet2</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listUsersServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listUser</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.listUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>treeInfoServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.treeInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alertListServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.alertListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alertListDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.alertListDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>changepasswordServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.changepasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>modifyspecificPWDServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.modifyspecificPWDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteDigestServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.deleteDigestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAlertServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.deleteAlertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAlertDetailServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deleteAlertDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changeAlertStausServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.changeAlertStausServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>factoryServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.factoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>systemServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.systemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>technologyServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.technologyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/servlet/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/servlet/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personalInfoServlet</servlet-name>
    <url-pattern>/servlet/personalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyPersonalInfoServlet</servlet-name>
    <url-pattern>/servlet/modifyPersonalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewAndModifyPIServlet</servlet-name>
    <url-pattern>/servlet/viewAndModifyPIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changepasswordServlet</servlet-name>
    <url-pattern>/servlet/changepasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyspecificPWDServlet</servlet-name>
    <url-pattern>/servlet/modifyspecificPWDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyPWDServlet</servlet-name>
    <url-pattern>/servlet/modifyPWDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listAdminsServlet</servlet-name>
    <url-pattern>/servlet/listAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAdminServlet</servlet-name>
    <url-pattern>/servlet/deleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listMappingServlet</servlet-name>
    <url-pattern>/servlet/listMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>revokeMappingServlet</servlet-name>
    <url-pattern>/servlet/revokeMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addMappingServlet</servlet-name>
    <url-pattern>/servlet/addMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>do_importServlet</servlet-name>
    <url-pattern>/servlet/do_importServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exportMappingsServlet</servlet-name>
    <url-pattern>/servlet/exportMappingsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewAndModifyCertServlet</servlet-name>
    <url-pattern>/servlet/viewAndModifyCertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyCertServlet</servlet-name>
    <url-pattern>/servlet/modifyCertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminDetailServlet</servlet-name>
    <url-pattern>/servlet/adminDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listUnPassAdminsServlet</servlet-name>
    <url-pattern>/servlet/listUnPassAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminPassServlet</servlet-name>
    <url-pattern>/servlet/adminPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminCheckServlet</servlet-name>
    <url-pattern>/servlet/adminCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addAttServlet</servlet-name>
    <url-pattern>/servlet/addAttServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>attFindServlet</servlet-name>
    <url-pattern>/servlet/attFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAttServlet</servlet-name>
    <url-pattern>/servlet/ModifyAttServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewAndModifyAttServlet</servlet-name>
    <url-pattern>/servlet/viewAndModifyAttServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAttServlet</servlet-name>
    <url-pattern>/servlet/deleteAttServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewMappingServlet</servlet-name>
    <url-pattern>/servlet/viewMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewAndModifyMappingServlet</servlet-name>
    <url-pattern>/servlet/viewAndModifyMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyMappingServlet</servlet-name>
    <url-pattern>/servlet/ModifyMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteMappingServlet</servlet-name>
    <url-pattern>/servlet/deleteMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exportListMappingServlet</servlet-name>
    <url-pattern>/servlet/exportListMappingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadFileServlet</servlet-name>
    <url-pattern>/servlet/uploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifyFailFindServlet</servlet-name>
    <url-pattern>/servlet/verifyFailFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifySetTrustedServlet</servlet-name>
    <url-pattern>/servlet/verifySetTrustedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listUsersServlet</servlet-name>
    <url-pattern>/servlet/listUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userDetailServlet</servlet-name>
    <url-pattern>/servlet/userDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listWhiteServlet</servlet-name>
    <url-pattern>/servlet/listWhiteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>revokeWhiteServlet</servlet-name>
    <url-pattern>/servlet/revokeWhiteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>historyServlet</servlet-name>
    <url-pattern>/servlet/historyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>historyDetailServlet</servlet-name>
    <url-pattern>/servlet/historyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addWhiteServlet</servlet-name>
    <url-pattern>/servlet/addWhiteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/servlet/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewUserServlet</servlet-name>
    <url-pattern>/servlet/viewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addAllWhitelistServlet</servlet-name>
    <url-pattern>/servlet/addAllWhitelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selfAddWhiteServlet</servlet-name>
    <url-pattern>/servlet/selfAddWhiteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAllWhitelistServlet</servlet-name>
    <url-pattern>/servlet/deleteAllWhitelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAllHistorylistServlet</servlet-name>
    <url-pattern>/servlet/deleteAllHistorylistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAllPagesHistorylistServlet</servlet-name>
    <url-pattern>/servlet/deleteAllPagesHistorylistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adllAllPagesHistoryServlet</servlet-name>
    <url-pattern>/servlet/adllAllPagesHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAllPagesWhitelistServlet</servlet-name>
    <url-pattern>/servlet/deleteAllPagesWhitelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/servlet/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterUserListServlet</servlet-name>
    <url-pattern>/servlet/EnterUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifylogServlet</servlet-name>
    <url-pattern>/servlet/verifylogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifyloghistoryServlet</servlet-name>
    <url-pattern>/servlet/verifyloghistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listVerifylogServlet</servlet-name>
    <url-pattern>/servlet/listVerifylogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifyloghistorylistServlet</servlet-name>
    <url-pattern>/servlet/verifyloghistorylistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TCMServlet</servlet-name>
    <url-pattern>/servlet/TCMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listTCMServlet</servlet-name>
    <url-pattern>/servlet/listTCMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listUsersServlet2</servlet-name>
    <url-pattern>/servlet/listUsersServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>treeInfoServlet</servlet-name>
    <url-pattern>/servlet/treeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alertListServlet</servlet-name>
    <url-pattern>/servlet/alertListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alertListDetailServlet</servlet-name>
    <url-pattern>/servlet/alertListDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auditListDetailServlet</servlet-name>
    <url-pattern>/servlet/auditListDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteDigestServlet</servlet-name>
    <url-pattern>/servlet/deleteDigestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAlertServlet</servlet-name>
    <url-pattern>/servlet/deleteAlertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAlertDetailServlet</servlet-name>
    <url-pattern>/servlet/deleteAlertDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeAlertStausServlet</servlet-name>
    <url-pattern>/servlet/changeAlertStausServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>factoryServlet</servlet-name>
    <url-pattern>/servlet/factoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>systemServlet</servlet-name>
    <url-pattern>/servlet/systemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>technologyServlet</servlet-name>
    <url-pattern>/servlet/technologyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XFireServlet</servlet-name>
    <servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewMetricServlet</servlet-name>
    <servlet-class>com.ics.servlet.ViewMetricServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMetricServlet</servlet-name>
    <url-pattern>/ViewMetricServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMetricServlet</servlet-name>
    <servlet-class>com.ics.servlet.SearchMetricServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMetricServlet</servlet-name>
    <url-pattern>/SearchMetricServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.AddKnowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKnowledgeServlet</servlet-name>
    <url-pattern>/AddKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplyKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.SupplyKnowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplyKnowledgeServlet</servlet-name>
    <url-pattern>/SupplyKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.ShowKnowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowKnowledgeServlet</servlet-name>
    <url-pattern>/ShowKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.ViewKnowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewKnowledgeServlet</servlet-name>
    <url-pattern>/ViewKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.ModifyKnowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyKnowledgeServlet</servlet-name>
    <url-pattern>/ModifyKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecountServlet</servlet-name>
    <servlet-class>com.ics.servlet.RecountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.deleteKnowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewKnowledgeItemServlet</servlet-name>
    <servlet-class>com.ics.servlet.viewKnowledgeItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteKnowledgeItemServlet</servlet-name>
    <servlet-class>com.ics.servlet.deleteKnowledgeItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>knowledgeListServlet</servlet-name>
    <servlet-class>com.ics.servlet.knowledgeListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addmultipleknowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.addmultipleknowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addmultipleknowledgesServlet</servlet-name>
    <servlet-class>com.ics.servlet.addmultipleknowledgesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>historyintoknowledgeServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.historyintoknowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dumphistoryintoknowledgeServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.dumphistoryintoknowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gethistoryintoknowledgeServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.gethistoryintoknowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>comboServlet</servlet-name>
    <servlet-class>com.ics.servlet.comboServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usbInfoServlet</servlet-name>
    <servlet-class>com.ics.usb.usbInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUsbToLocalServlet</servlet-name>
    <servlet-class>com.ics.usb.addUsbToLocalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usbUserListServlet</servlet-name>
    <servlet-class>com.ics.usb.usbUserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUsbServlet</servlet-name>
    <servlet-class>com.ics.usb.addUsbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usbLocalServlet</servlet-name>
    <servlet-class>com.ics.usb.usbLocalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteAllUsbMeasureServlet</servlet-name>
    <servlet-class>com.ics.usb.deleteAllUsbMeasureServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>createwlsnapshot</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.createwlsnapshot</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>createwlsnapshotServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.createwlsnapshotServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>viewwlsnapshotindexServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.viewwlsnapshotindexServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>wlsnapshotindexServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.wlsnapshotindexServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>wlsnapshotServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.wlsnapshotServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>recoverwlServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.recoverwlServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>deletewlsnapshotServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.deletewlsnapshotServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>savewlsnapshotsearchconditionServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.savewlsnapshotsearchconditionServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>restoreServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.restoreServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>dorestoreServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.dorestoreServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>startrestoreServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.startrestoreServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>uploadknowledgefromxmlServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.uploadknowledgefromxmlServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>importwhitefromknowledgeServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.importwhitefromknowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>descriptionServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.descriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>contrastKnowledgeServlet</servlet-name>
    <servlet-class>com.ics.servlet.contrastKnowledgeServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>This is the description of my J2EE component</javaee:description>
    <javaee:display-name>This is the display name of my J2EE component</javaee:display-name>
    <servlet-name>checkauthorizeServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.checkauthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecountServlet</servlet-name>
    <url-pattern>/RecountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteKnowledgeServlet</servlet-name>
    <url-pattern>/servlet/deleteKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewKnowledgeItemServlet</servlet-name>
    <url-pattern>/servlet/viewKnowledgeItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteKnowledgeItemServlet</servlet-name>
    <url-pattern>/servlet/deleteKnowledgeItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>knowledgeListServlet</servlet-name>
    <url-pattern>/servlet/knowledgeListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addmultipleknowledgeServlet</servlet-name>
    <url-pattern>/servlet/addmultipleknowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addmultipleknowledgesServlet</servlet-name>
    <url-pattern>/servlet/addmultipleknowledgesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>historyintoknowledgeServlet</servlet-name>
    <url-pattern>/servlet/historyintoknowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dumphistoryintoknowledgeServlet</servlet-name>
    <url-pattern>/servlet/dumphistoryintoknowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gethistoryintoknowledgeServlet</servlet-name>
    <url-pattern>/servlet/gethistoryintoknowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>comboServlet</servlet-name>
    <url-pattern>/servlet/comboServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usbInfoServlet</servlet-name>
    <url-pattern>/servlet/usbInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUsbToLocalServlet</servlet-name>
    <url-pattern>/servlet/addUsbToLocalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usbUserListServlet</servlet-name>
    <url-pattern>/servlet/usbUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUsbServlet</servlet-name>
    <url-pattern>/servlet/addUsbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usbLocalServlet</servlet-name>
    <url-pattern>/servlet/usbLocalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAllUsbMeasureServlet</servlet-name>
    <url-pattern>/servlet/deleteAllUsbMeasureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createwlsnapshot</servlet-name>
    <url-pattern>/servlet/createwlsnapshot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createwlsnapshotServlet</servlet-name>
    <url-pattern>/servlet/createwlsnapshotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewwlsnapshotindexServlet</servlet-name>
    <url-pattern>/servlet/viewwlsnapshotindexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wlsnapshotindexServlet</servlet-name>
    <url-pattern>/servlet/wlsnapshotindexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wlsnapshotServlet</servlet-name>
    <url-pattern>/servlet/wlsnapshotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recoverwlServlet</servlet-name>
    <url-pattern>/servlet/recoverwlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletewlsnapshotServlet</servlet-name>
    <url-pattern>/servlet/deletewlsnapshotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>savewlsnapshotsearchconditionServlet</servlet-name>
    <url-pattern>/servlet/savewlsnapshotsearchconditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restoreServlet</servlet-name>
    <url-pattern>/servlet/restoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dorestoreServlet</servlet-name>
    <url-pattern>/servlet/dorestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>startrestoreServlet</servlet-name>
    <url-pattern>/servlet/startrestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadknowledgefromxmlServlet</servlet-name>
    <url-pattern>/servlet/uploadknowledgefromxmlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>importwhitefromknowledgeServlet</servlet-name>
    <url-pattern>/servlet/importwhitefromknowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>descriptionServlet</servlet-name>
    <url-pattern>/servlet/descriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contrastKnowledgeServlet</servlet-name>
    <url-pattern>/servlet/contrastKnowledgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkauthorizeServlet</servlet-name>
    <url-pattern>/servlet/checkauthorizeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>register1servlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.register1servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>exportAllPagesWhitelistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.exportAllPagesWhitelistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>uploadwhitelistServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.uploadwhitelistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>importwhiteServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.importwhiteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkauditServlet</servlet-name>
    <servlet-class>cn.ac.sklois.imm.admin.checkauditServlet</servlet-class>
  </servlet>
 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>initconfig</servlet-name>
    <servlet-class>cn.ac.sklois.imm.mappings.initconfig</servlet-class>
    <init-param>
    	<description>审计日志最大条数</description>
    	<param-name>auditmax</param-name>
    	<param-value>200</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>







  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register1servlet</servlet-name>
    <url-pattern>/servlet/register1servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exportAllPagesWhitelistServlet</servlet-name>
    <url-pattern>/servlet/exportAllPagesWhitelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadwhitelistServlet</servlet-name>
    <url-pattern>/servlet/uploadwhitelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>importwhiteServlet</servlet-name>
    <url-pattern>/servlet/importwhiteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkauditServlet</servlet-name>
    <url-pattern>/servlet/checkauditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initconfig</servlet-name>
    <url-pattern>/servlet/initconfig</url-pattern>
  </servlet-mapping>
</web-app>